Package: vim-gui-common
Source: vim
Version: 2:8.1.0549-1
Architecture: all
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 279
Recommends: vim-gtk | vim-gtk3 | vim-athena
Section: editors
Priority: optional
Multi-Arch: foreign
Homepage: https://vim.sourceforge.io/
Description: Vi IMproved - Common GUI files
 Vim is an almost compatible version of the UNIX editor Vi.
 .
 This package contains files shared by all GUI-enabled vim
 variants available in Debian.  Examples of such shared files are:
 gvimtutor, icons, and desktop environments settings.
