Package: vim-gnome
Source: vim
Version: 2:8.1.0549-1
Architecture: all
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 140
Depends: vim-gtk3
Section: oldlibs
Priority: optional
Homepage: https://vim.sourceforge.io/
Description: Vi IMproved - enhanced vi editor (dummy package)
 This is a transitional package to install the vim-gtk3 package.  You may
 remove this package if nothing depends on it.
