Package: vim-doc
Source: vim
Version: 2:8.1.0549-1
Architecture: all
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 11552
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://vim.sourceforge.io/
Description: Vi IMproved - HTML documentation
 Vim is an almost compatible version of the UNIX editor Vi.
 .
 This package contains the HTML version of the online documentation.  It is
 built from the runtime/doc directory of the source tree.
