Package: vim-runtime
Source: vim
Version: 2:8.1.0549-1
Architecture: all
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 29546
Recommends: vim | vim-gtk | vim-gtk3 | vim-athena | vim-nox | vim-tiny
Enhances: vim-tiny
Breaks: vim-tiny (<< 2:8.1.0549-1)
Section: editors
Priority: optional
Multi-Arch: foreign
Homepage: https://vim.sourceforge.io/
Description: Vi IMproved - Runtime files
 Vim is an almost compatible version of the UNIX editor Vi.
 .
 This package contains vimtutor and the architecture independent runtime
 files, used, if available, by all vim variants available in Debian.
 Example of such runtime files are: online documentation, rules for
 language-specific syntax highlighting and indentation, color schemes,
 and standard plugins.
