Package: vim-gtk-dbgsym
Source: vim
Version: 2:8.1.0549-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 5478
Depends: vim-gtk (= 2:8.1.0549-1)
Section: debug
Priority: optional
Description: debug symbols for vim-gtk
Build-Ids: e54217ef3018038be14c3c45388bee540fefae81
