Package: vim-gtk
Source: vim
Version: 2:8.1.0549-1
Architecture: amd64
Maintainer: Debian Vim Maintainers <team+vim@tracker.debian.org>
Installed-Size: 7200
Depends: vim-common (= 2:8.1.0549-1), vim-gui-common (= 2:8.1.0549-1), vim-runtime (= 2:8.1.0549-1), libacl1 (>= 2.2.51-8), libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgdk-pixbuf2.0-0 (>= 2.25.2), libglib2.0-0 (>= 2.31.18), libgpm2 (>= 1.20.7), libgtk2.0-0 (>= 2.24.0), libice6 (>= 1:1.0.0), liblua5.2-0, libpango-1.0-0 (>= 1.32.4), libperl5.28 (>= 5.28.0), libpython3.6 (>= 3.6.5), libruby2.5 (>= 2.5.0~preview1), libselinux1 (>= 1.32), libsm6, libtcl8.6 (>= 8.6.0), libtinfo6 (>= 6), libx11-6, libxt6
Suggests: cscope, fonts-dejavu, gnome-icon-theme, vim-doc
Provides: editor, gvim, vim, vim-lua, vim-perl, vim-python3, vim-ruby, vim-tcl
Section: editors
Priority: optional
Homepage: https://vim.sourceforge.io/
Description: Vi IMproved - enhanced vi editor - with GTK2 GUI
 Vim is an almost compatible version of the UNIX editor Vi.
 .
 Many new features have been added: multi level undo, syntax
 highlighting, command line history, on-line help, filename
 completion, block operations, folding, Unicode support, etc.
 .
 This package contains a version of vim compiled with a GTK2 GUI
 and support for scripting with Lua, Perl, Python 3, Ruby, and Tcl.
